@charset "UTF-8";

:root {
  --breakpoint-width: 550px;
  --white-color: #fff;
  --text-grey-color: #777;
  --text-blur-color: #e6e6e6;
}

body {
  font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
  font-size: 14px;
  background-color: #f5f5f5;
  word-break: break-word;
}

h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

header h1 {
  font-family: 'Pacifico';
  text-align: center;
  color: #ebd6c7;
  font-size: 16vw;
  font-weight: 500;
}

@media (min-width: 550px) {
  header .container {
    width: var(--breakpoint-width);
    margin: 0 auto;
  }

  header h1 {
    font-size: 88px;
  }
}

.ItemList .container {
  background-color: var(--white-color);
  background-color: #fff;
}

.ItemList ul {
  width: auto;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}

@media (min-width: 550px) {
  .ItemList .container {
    width: var(--breakpoint-width);
    margin: 0 auto;
  }
}

li.Item {
  border-bottom: 1px solid #ededed;
  display: flex;
}

li.Item .stateChange {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.Item .stateChange input {
  display: none;
}

li.Item .stateChange label {
  font-size: 6vw;
  transition: color 0.5s;
  color: var(--text-blur-color);
  color: #e6e6e6;
}

li.Item .stateChange label.fa-check-circle {
  color: #67c6b4;
}

li.Item .itemChange {
  margin: 2vw 0;
  width: auto;
  flex: 8;
}

li.Item .itemChange .itemName {
  font-size: 4vw;
  margin: 2vw 0;
  transition: color 0.5s, text-decoration 0.5s;
  cursor: default;
}

li.Item .itemChange .itemName.completed {
  text-decoration: line-through;
  color: var(--text-blur-color);
  color: #e6e6e6;
}

li.Item .itemChange input {
  border: none;
  width: 99%;
  font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
  font-size: 4vw;
}

li.Item .itemChange input:focus {
  outline: none;
}

li.Item .deleteButton {
  margin-right: 2vw;
  float: right;
}

li.Item .deleteButton label {
  font-size: 4vw;
  color: #cc9a9a;
  transition: color 0.5s;
  vertical-align: -webkit-baseline-middle;
}

li.Item .deleteButton label:hover {
  color: #b7605e;
}

@media (min-width: 550px) {
  li.Item .stateChange label {
    font-size: 33px;
  }

  li.Item .itemChange {
    margin: 11px 0;
  }

  li.Item .itemChange .itemName {
    font-size: 22px;
    margin: 11px 0;
  }

  li.Item .itemChange input {
    font-size: 22px;
  }

  li.Item .deleteButton {
    margin-right: 11px;
  }

  li.Item .deleteButton label {
    font-size: 22px;
  }
}

.Post {
  display: flex;
  width: auto;
  border: 1px solid #e6e6e6;
}

.Post .stateChange {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Post .stateChange button {
  display: none;
}

.Post .stateChange label {
  font-size: 4vw;
  transition: color 0.5s;
}

.Post .postToDo {
  flex: 8;
}

.Post .postToDo input {
  border: none;
  width: 99%;
  margin: 2.35vw 0;
  font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
  font-size: 4vw;
}

.Post .postToDo input::placeholder {
  font-style: italic;
  color: var(--text-blur-color);
  color: #e6e6e6;
}

.Post .postToDo input:focus {
  outline: none;
}

@media (min-width: 550px) {
  .Post .stateChange label {
    font-size: 22px;
  }

  .Post .postToDo input {
    border: none;
    width: 99%;
    margin: 13px 0;
    font-size: 22px;
  }
}

.Helping {
  width: auto;
  display: flex;
  justify-content: space-between;
  border: 1px solid #e6e6e6;
  border-top: none;
  color: var(--text-grey-color);
  color: #777;
}

.Helping p {
  display: flex;
  align-items: center;
  padding: 2vw;
  flex: 1;
  font-size: 2.5vw;
}

.Helping nav {
  flex: 2;
  display: flex;
  justify-content: center;
}

.Helping nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-style: none;
}

.Helping nav ul a {
  display: block;
  text-decoration: none;
  color: #777;
  padding: 0 2vw;
  font-size: 2.5vw;
}

.Helping nav ul a.active {
  border: 1px solid;
  border-radius: 4px;
}

.Helping .removeComplete {
  flex: 1;
}

.Helping .removeComplete button {
  all: unset;
  cursor: pointer;
  color: #777;
  margin: 0;
  padding: 2vw;
  font-size: 2.5vw;
}

@media (min-width: 550px) {
  .Helping p {
    padding: 11px;
    font-size: 13.75px;
  }

  .Helping nav ul a {
    padding: 0 11px;
    font-size: 13.75px;
  }

  .Helping .removeComplete button {
    padding: 11px;
    font-size: 13.75px;
  }
}

footer h2 {
  margin: 4vw 0 0 0;
  font-size: 2vw;
  font-weight: normal;
  color: #bfbfbf;
  text-align: center;
}

@media (min-width: 550px) {
  footer .container {
    width: var(--breakpoint-width);
    margin: 0 auto;
  }

  footer h2 {
    margin: 22px 0 0 0;
    font-size: 11px;
  }
}

