footer h2 {
  margin: 4vw 0 0 0;
  font-size: 2vw;
  font-weight: normal;
  color: #bfbfbf;
  text-align: center;
}

@media (min-width: 550px) {
  footer .container {
    width: var(--breakpoint-width);
    margin: 0 auto;
  }

  footer h2 {
    margin: 22px 0 0 0;
    font-size: 11px;
  }
}
